// Sant rohidas maharaj (/srm)

#activites {
  .table-header-bg {
    background-color: #4b49b7;
    color: white;
    font-size: 1.2em;
  }

  .body {
    padding: 1em;
    .title {
      text-align: center;
    }
    .content {
      text-align: center;
    }
  }
  .card-header {
    text-align: center;
    padding: 1% !important;
    font-weight: _font(weight-heading-bold);
  }
  .card-body {
    text-align: center;
}
  .activites-image{
    text-align: center;
    padding: 1%;
    margin: 5px 0 5px 0;
    border: solid 1px rgba(160, 160, 160, 0.3);
  }
}
